name: ci
on:
  pull_request:
    branches: [main, alpha]
  push:
    branches: [main, alpha]

jobs:
  commitlint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Commitlint
        uses: wagoid/commitlint-github-action@v5
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install packages
        run: poetry install
      - name: Run unit tests
        run: poetry run pytest -m "not ncbi" --disable-socket --allow-unix-socket
      - name: Run NCBI-dependent tests
        if: github.event.pull_request.user == github.repository_owner
        run: poetry run pytest -m "ncbi"
      - name: Mark unauthorized PR as unrunnable
        if: github.event.pull_request.user != github.repository_owner
        run: exit 1
  release:
    if: github.event_name == 'push'
    needs:
      - commitlint
      - test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install semantic-release
        run: npm i semantic-release@v23.0.0 conventional-changelog-conventionalcommits@7.0.2
      - name: Release
        env:
          GITHUB_USERNAME: ${{ secrets.GH_USERNAME }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release