name: PyPi Publish

on:
  release:
    types: [ published ]

jobs:
  pypi:
    runs-on: ubuntu-latest
    container: python:3.9
    steps:
      - uses: actions/checkout@v2
      - name: Install Poetry
        run: pip install poetry
      - name: Build
        run: poetry build
      - name: Publish
        run: |
          poetry version ${{ github.event.release.tag_name }}
          poetry publish --dry-run -u ${{ secrets.PYPI_USERNAME }} -p ${{ secrets.PYPI_TOKEN }}
