name: ci
on:
  pull_request:
    branches: [ main, alpha ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: continuumio/miniconda3:latest
      env:
        NODE_ENV: development

    steps:
      - uses: actions/checkout@v3

      - name: Install conda and poetry
        run: |
          conda install -c bioconda cd-hit hmmer blast mcl muscle -q -y
          pip install poetry
          
      - name: Install package
        run: |
          poetry lock
          poetry install
      
      - name: Run tests
        run: |
          echo $CALLER_API_URL
          poetry run pytest
        env:
          CALLER_API_URL: "${{ vars.CALLER_API_URL }}"
          GH_PAT: "${{ secrets.GH_BOT_PAT }}"